* {
  font-family: 'Times New Roman', Times, serif;
}
body, html {
  margin: 0;
  padding: 0;
}

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

video#login {
  width: 100%;
  height: auto;
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
}

.loginMain {
  width: 40%;
  height: auto;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
  z-index: 30;
  border-radius: 20px;
  background: transparent;
  border: 1px solid white;
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
}

#mailbox {
  width: 100%;
  height: 50px;
  padding-left: 10%;
  padding-right: 10%;
  border: 1px solid white;
  border-radius: 5px;
  background: #000;
  color: antiquewhite;
  font-size: 20px;
}

#mailbox::placeholder {
  color: aqua;
}

#Pass {
  width: 60%;
  height: 50px;
  padding-left: 5%;
  margin-top: 20px;
  border: 1px solid white;
  border-radius: 5px 0 5px 0px;
  background: #000;
  color: antiquewhite;
  font-size: 20px;
}

#Pass::placeholder {
  color: aqua;
}

.Eyebtn {
  width: 10%;
  height: 50px;
  border-radius: 0 5px 0 5px;
  background: black;
  color: white;
  border: 1px solid white;
  margin-left: 0;
  font-size: 20px;
}

#subBtn {
  width: 30%;
  border-radius: 10px;
  border: 0;
  height: 50px;
  color: white;
  background: transparent;
  color: aqua;
  transition: 0.5s;
  bottom: 0;
  font-size: 18px;
}

#subBtn:hover {
  background: aqua;
  color: #000;
  
}

.btnSection {
  width: 100%;
  margin-top: 20px;
}


.error {
  color: red;
}

.navbar {
  width: 100%;
  position: fixed;
  transition: 0.3s all;
}


#Homebody {
  margin: 0;
  padding: 0;
  background-image: url('../images/BgImage1.jpg');
  background-size: cover;
}


.Card {
  margin-top: 30px;
  margin-left: 2.5%;
  margin-right: 2%;
  width: 96%;
}

#homeData {
  width: 22%; 
  float: left; 
  margin-left: 2%; 
  height: auto;
  margin-top: 30px;
  color: #20C20E;
  background: #000;
  border-radius: 10px;
  border: 1px solid white;
}

#nav-item {
  padding-left: 15%;
}

#log {
  color: #20C20E;
  font-weight: 400;
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
}
#log:hover {
  background: red;
  color: black;
  font-weight: 600;
}

#dropdown-menu {
  background: #000; 
  color: #20C20E;
}

@media (min-width:1044px) and (max-width:1300px) {
  #homeData {
    width: 25%; 
    float: left; 
    margin-left: 6%; 
    height: auto;
    margin-top: 30px;
    color: #20C20E;
    background: #000;
    border-radius: 10px;
    border: 1px solid white;
  }
}


@media (min-width:601px) and (max-width:1043px) {
  #homeData {
    width: 40%; 
    float: left; 
    margin-left: 7%; 
    height: auto;
    margin-top: 30px;
    color: #20C20E;
    background: #000;
    border-radius: 10px;
    border: 1px solid white;
  }
}


@media (max-width:600px) {
  #homeData {
    width: 80%; 
    float: left; 
    margin-left: 10%; 
    height: auto;
    margin-top: 30px;
    color: #20C20E;
    background: #000;
    border-radius: 10px;
    border: 1px solid white;
  }
}

.Table {
  background-color: transparent;
  border: 1px solid white;
  color: aqua;
  margin-top: 50px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
}

.Thead {
  border: 1px solid white;
  width: auto;
  height: 100%;
}